POWERSYNC_URL=https://get-this-from-the-dashboard.powersync.com

CACTUS_API_KEY=obtain_from_cactus_dashboard

SUPABASE_URL=https://your-supabase-project.supabase.co
SUPABASE_ANON_KEY=your-project-anon-key